#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.el {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    background-color: rgb(252, 29, 29);
    color: white;
}
